html,
body {
    margin: 0;
    padding: 0;
    padding-top: 30px;
}

table.board {
    background-color: whitesmoke;
    align-self: center;
    border: 8px ridge lightgray;
    cursor: pointer;
    caption-side: unset;
    border-collapse: unset;
    box-sizing : unset;
    --bs-gutter-x: 0;
    --bs-gutter-y: 0;
}

table.board th {
    border: 2px solid gray;
    height: 36px;
    text-align: center;
}

table.board td {
    border: 2px darkgray;
    width: 24px;
    height: 24px;
    text-align: center;
    vertical-align: center;
    font-family: monospace;
    font-weight: bold;
    background-color: lightgray;
}

table.board td {
    box-sizing: unset;
    border-style: outset;
}

table.board td.clicked {
    border-style: inset;
}

table.board td.visited {
    border: 2px solid lightgray;
    background-color: whitesmoke;
}

table.board td.one {
    color: blue;
}

table.board td.two {
    color: green;
}

table.board td.three {
    color: red;
}

table.board td.four {
    color: darkblue;
}

table.board td.five {
    color: darkred;
}

table.board td.six {
    color: darkcyan;
}

table.board td.seven {
    color: black;
}

table.board td.eight {
    color: darkgray;
}