html,
body {
    margin: 0;
    padding: 0;
}

div.center-container {
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

table {
    background-color: whitesmoke;
    align-self: center;
    border: 10px ridge lightgray;
    cursor: pointer;
}

th {
    border: 3px solid gray;
    height: 48px;
}

td {
    border: 3px darkgray;
    width: 32px;
    height: 32px;
    text-align: center;
    vertical-align: center;
    font-family: courier;
    font-size: 20px;
    font-weight: bold;
    background-color: lightgray;
}

td.normal {
    border-style: outset;
}

td.clicked {
    border-style: inset;
}

td.visited {
    border: 3px solid lightgray;
    background-color: whitesmoke;
}

td.one {
    color: blue;
}

td.two {
    color: green;
}

td.three {
    color: red;
}

td.four {
    color: darkblue;
}

td.five {
    color: darkred;
}

td.six {
    color: darkcyan;
}

td.seven {
    color: black;
}

td.eight {
    color: darkgray;
}